In [1]:
import pandas as pd

In [2]:
!export HF_DATASETS_CACHE="/gpfs/milgram/project/rtaylor/shared/DischargeMe/hf_cache"

In [3]:
from datasets import load_dataset

# If the dataset is gated/private, make sure you have run huggingface-cli login
configs = ['1. Discharge Summary Sections (Targets)', '2. Discharge Summaries', '3. Radiology Reports', '4. ED Stays', '5. ED Triages', '6. ED Diagnoses']
datasets = []
for config in configs:
    dataset = load_dataset("justin13601/discharge-me", config)
    datasets.append(dataset)

FileNotFoundError: Couldn't find a dataset script at /gpfs/milgram/home/vs428/Documents/DischargeMe/hail-dischargeme/notebooks/data_description/justin13601/discharge-me/discharge-me.py or any data file in the same directory. Couldn't find 'justin13601/discharge-me' on the Hugging Face Hub either: FileNotFoundError: Dataset 'justin13601/discharge-me' doesn't exist on the Hub

In [ ]:
target_train = pd.DataFrame(datasets[0]['train'])
target_valid = pd.DataFrame(datasets[0]['valid'])
target_test = pd.DataFrame(datasets[0]['test'])

discharge_summ_train = pd.DataFrame(datasets[1]['train'])
discharge_summ_valid = pd.DataFrame(datasets[1]['valid'])
discharge_summ_test = pd.DataFrame(datasets[1]['test'])

radiology_train = pd.DataFrame(datasets[2]['train'])
radiology_valid = pd.DataFrame(datasets[2]['valid'])
radiology_test = pd.DataFrame(datasets[2]['test'])

edstay_train = pd.DataFrame(datasets[3]['train'])
edstay_valid = pd.DataFrame(datasets[3]['valid'])
edstay_test = pd.DataFrame(datasets[3]['test'])

edtriage_train = pd.DataFrame(datasets[4]['train'])
edtriage_valid = pd.DataFrame(datasets[4]['valid'])
edtriage_test = pd.DataFrame(datasets[4]['test'])

eddiags_train = pd.DataFrame(datasets[5]['train'])
eddiags_valid = pd.DataFrame(datasets[5]['valid'])
eddiags_test = pd.DataFrame(datasets[5]['test'])

In [ ]:
target_train['split'] = "train"
target_valid['split'] = "valid"
target_test['split'] = "test"
discharge_summ_train['split'] = "train"
discharge_summ_valid['split'] = "valid"
discharge_summ_test['split'] = "test"
radiology_train['split'] = "train"
radiology_valid['split'] = "valid"
radiology_test['split'] = "test"
edstay_train['split'] = "train"
edstay_valid['split'] = "valid"
edstay_test['split'] = "test"
edtriage_train['split'] = "train"
edtriage_valid['split'] = "valid"
edtriage_test['split'] = "test"
eddiags_train['split'] = "train"
eddiags_valid['split'] = "valid"
eddiags_test['split'] = "test"

In [ ]:
target = pd.concat([target_train, target_valid, target_test])
discharge_summ = pd.concat([discharge_summ_train, discharge_summ_valid, discharge_summ_test])
radiology = pd.concat([radiology_train, radiology_valid, radiology_test])
edstay = pd.concat([edstay_train, edstay_valid, edstay_test])
edtriage = pd.concat([edtriage_train, edtriage_valid, edtriage_test])
eddiags = pd.concat([eddiags_train, eddiags_valid, eddiags_test])

In [ ]:
target = target.reset_index()
discharge_summ = discharge_summ.reset_index()
radiology = radiology.reset_index()
edstay = edstay.reset_index()
edtriage = edtriage.reset_index()
eddiags = eddiags.reset_index()

In [ ]:
print(discharge_summ.sample(1)['text'].squeeze())

In [ ]:
discharge_summ[discharge_summ['hadm_id'] == 28448473]['text'].squeeze()

In [21]:
print(discharge_summ[discharge_summ['hadm_id'] == 28448473]['text'].squeeze())

Name:  ___                    Unit No:   ___

Admission Date:  ___              Discharge Date:   ___

Date of Birth:  ___             Sex:   M

Service: SURGERY

Allergies:
No Known Allergies / Adverse Drug Reactions

Attending: ___

Chief Complaint:
Abdominal distention

Major Surgical or Invasive Procedure:
___ PROCEDURES:
1. Exploratory laparotomy.
2. Bilateral rectus abdominis component-separation repair
    of abdominal wall defect.
3. Small-bowel resection with primary anastomosis x1.
4. A 10 x 14 inch polypropylene mesh onlay performed in the
    manner of STOPPA.


History of Present Illness:
___ M s/p exploratory laparotomy, small bowel decompression,
rectosigmoid colectomy, appendectomy, colorectal anastomosis for
obstructing colon adenocarcinoma (pT3N2b, stage IIIc) in ___
who presents to the ED with symptoms of bloating, abdominal pain
and distention x6 days. He was seen by his PCP today who ordered
a KUB demonstrating dilated loops of bowel and presented to the
ED at his PCP's request for a CT scan given concern for a small
bowel obstruction. He reports ___ pain currently which has been
up to a ___, continued bloating and gas pains. No nausea, no
emesis. He is tolerating PO, although his appetite is decreased
and he is passing flatus and having bowel movements. Last BM
this AM.


Past Medical History:
Past Medical History: Colon Cancer-pT3N2b, stage IIIc S/P
resection, chemo x2 and cyberknife treatment (Met found in ___
in aortal caval LN). Last CT showed no evidence of recurrence in
___ of ___. HTN, HLD
Past Surgical History: ___- exploratory laparotomy, small bowel
decompression, rectosigmoid colectomy, on-table colonic lavage,
appendectomy, colorectal anastomosis, and rigid sigmoidoscopy
Repair of left inguinal hernia ___ Port-a-cath placement ___,
removal ___ and replacement ___ Knee surgery as a teen

Social History:
___
Family History:
Father- prostate CA, DM, Heart Disease, Mother ___ CA & Kidney
CA

Physical Exam:
ON ADMISSION ___:
Vitals: T 97.9 HR 65 BP 144/100 RR 16 100% RA
GEN: A&O, NAD
HEENT: No scleral icterus, mucus membranes moist
CV: RRR
PULM: Clear to auscultation b/l
ABD: Soft, distended, nontender, no rebound or guarding,
normoactive bowel sounds, large midline hernia- partially
reducible
EXT: No ___ edema, ___ warm and well perfused

ON DISCHARGE ___:
VS: T 98.4, HR 81, BP 136/71, RR 18, SaO2 99% RA


Pertinent Results:
CBC:
___ 03:15PM BLOOD WBC-8.6 RBC-4.90 Hgb-15.1 Hct-45.2 MCV-92
MCH-30.9 MCHC-33.5 RDW-13.4 Plt ___
___ 10:00PM BLOOD WBC-9.0 RBC-4.48* Hgb-14.0 Hct-40.5
MCV-90 MCH-31.2 MCHC-34.6 RDW-14.3 Plt ___
___ 10:10PM BLOOD WBC-9.3 RBC-4.44* Hgb-13.7* Hct-40.4
MCV-91 MCH-30.8 MCHC-33.9 RDW-13.7 Plt ___
___ 08:00AM BLOOD WBC-11.4* RBC-4.15* Hgb-13.0* Hct-37.7*
MCV-91 MCH-31.4 MCHC-34.5 RDW-13.6 Plt ___
___ 03:31AM BLOOD WBC-10.6 RBC-3.55* Hgb-11.1* Hct-32.7*
MCV-92 MCH-31.3 MCHC-34.0 RDW-13.8 Plt ___
___ 05:17AM BLOOD WBC-12.1* RBC-3.80* Hgb-11.8* Hct-35.9*
MCV-94 MCH-31.1 MCHC-33.0 RDW-13.7 Plt ___
___ 01:26PM BLOOD WBC-7.2 RBC-3.44* Hgb-10.7* Hct-31.6*
MCV-92 MCH-31.3 MCHC-34.0 RDW-13.8 Plt ___
___ 04:59AM BLOOD WBC-8.8 RBC-3.57* Hgb-11.0* Hct-32.3*
MCV-90 MCH-30.7 MCHC-34.0 RDW-13.9 Plt ___
___ 07:49AM BLOOD WBC-10.4 RBC-3.70* Hgb-11.6* Hct-34.4*
MCV-93 MCH-31.3 MCHC-33.7 RDW-14.1 Plt ___
___ 07:03AM BLOOD WBC-9.8 RBC-3.70* Hgb-11.5* Hct-34.0*
MCV-92 MCH-31.2 MCHC-33.9 RDW-13.8 Plt ___
___ 07:56AM BLOOD WBC-8.8 RBC-3.89* Hgb-11.9* Hct-35.9*
MCV-92 MCH-30.5 MCHC-33.0 RDW-13.8 Plt ___

CHEMISTRY:

___ 03:15PM BLOOD UreaN-12 Creat-1.1
___ 10:00PM BLOOD Glucose-98 UreaN-14 Creat-1.0 Na-140
K-3.7 Cl-104 HCO3-27 AnGap-13
___ 10:00PM BLOOD Albumin-4.4
___ 10:10PM BLOOD Glucose-155* UreaN-12 Creat-1.1 Na-140
K-4.6 Cl-107 HCO3-25 AnGap-13
___ 10:10PM BLOOD Calcium-6.9* Phos-4.3 Mg-1.3*
___ 08:00AM BLOOD Glucose-161* UreaN-16 Creat-1.2 Na-139
K-4.2 Cl-104 HCO3-27 AnGap-12
___ 08:00AM BLOOD Calcium-8.6 Phos-4.5 Mg-2.5
___ 03:31AM BLOOD Glucose-109* UreaN-20 Creat-1.1 Na-139
K-4.1 Cl-106 HCO3-27 AnGap-10
___ 05:17AM BLOOD Glucose-112* UreaN-15 Creat-0.8 Na-137
K-4.2 Cl-102 HCO3-28 AnGap-11
___ 05:17AM BLOOD Calcium-8.3* Phos-2.3*# Mg-2.1
___ 01:26PM BLOOD Glucose-105* UreaN-9 Creat-0.7 Na-142
K-3.4 Cl-102 HCO3-26 AnGap-17
___ 01:26PM BLOOD Calcium-8.2* Phos-2.0* Mg-1.9
___ 12:08PM BLOOD Glucose-116* UreaN-7 Creat-0.6 Na-139
K-3.5 Cl-100 HCO3-28 AnGap-15
___ 12:08PM BLOOD Calcium-8.3* Phos-2.5* Mg-1.9
___ 04:59AM BLOOD Glucose-115* UreaN-6 Creat-0.6 Na-141
K-3.2* Cl-99 HCO3-28 AnGap-17
___ 04:59AM BLOOD Calcium-8.3* Phos-2.9 Mg-2.0
___ 07:49AM BLOOD Glucose-116* UreaN-6 Creat-0.8 Na-143
K-4.3 Cl-99 HCO3-30 AnGap-18
___ 07:49AM BLOOD Calcium-8.9 Phos-3.7 Mg-2.2
___ 07:03AM BLOOD Glucose-120* UreaN-6 Creat-0.7 Na-141
K-4.2 Cl-101 HCO3-30 AnGap-14
___ 07:03AM BLOOD Calcium-8.7 Phos-3.2 Mg-2.1
___ 07:56AM BLOOD Glucose-112* UreaN-6 Creat-0.7 Na-142
K-4.3 Cl-101 HCO3-28 AnGap-17
___ 07:56AM BLOOD Calcium-8.7 Phos-3.3 Mg-2.2

Brief Hospital Course:
Mr. ___ was admitted from the emergency department on
___. He was initially seen at his PCP's office where a
KUB was done showing distended loops of bowel concerning for
small bowel obstruction. On evaluation in the ED, CT scan of the
abdomen showed a complex network of ventral hernias with
multiple loops of bowel incarcerated within the hernia. He was
admitted to the Acute Care Surgery team for management and
operative discussion/planning.

Mr. ___ was taken to the OR on ___ and underwent an
exploratory laparotomy with bilateral rectus abdominis component
separation repair of abdominal wall defect with polypropylene
mesh and small bowel resection with primary anastomosis,
performed by Dr. ___. He tolerated the procedure well without
any complications and was taken to the post-anesthesia care unit
in stable condition. At the end of the procedure, Mr. ___ had 2
JP drains in the space overlaying the mesh and an NG tube for
decompression of the stomach.

In the immediate post-operative period, Mr. ___ at an epidural
for pain control and foley catheter while he had an epidural.
The NG tube was removed a few days after the operation and he
was started on sips of clears, awaiting return of bowel
function. However, after a few days, Mr. ___ became
increasingly distended and had an episode of emesis. He was
again kept NPO, started on IV fluids, and given a PCA for pain
control temporarily. An NGT had to be placed to decompress the
stomach after a second episode of bilious vomiting. Once he
began passing flatus, he was started on a clear diet and diet
was advanced as tolerated while he continued to pass flatus.
During the recovery period, he was also started antibiotics for
some mild non-demarcatable erythema noted over the incision,
especially given the risk of mesh infection. The JP drains
remained serosanguinous in output.

On discharge, Mr. ___ continued to pass flatus, although he had
not had a bowel movement. He was tolerating a regular diet
without any nausea and vomiting and continued on a bowel
regimen. He was eager to be discharged and acknowledge that
should he not have a bowel movement in 48 hours, he should call
the clinic or return to the ED. He was given instructions for
medications and scheduled to follow-up early next week for
staple removal and JP drain removal and then another 2 weeks
after for follow-up.

Medications on Admission:
The Preadmission Medication list is accurate and complete.
1. Atenolol 25 mg PO DAILY
2. Valcyte (valGANciclovir) 500 mg oral DAILY


Discharge Medications:
1. Atenolol 25 mg PO DAILY
2. Valcyte (valGANciclovir) 500 mg oral DAILY
3. Senna 8.6 mg PO DAILY
RX *sennosides [senna] 8.6 mg 1 tablet by mouth at bedtime Disp
#*60 Tablet Refills:*1
4. Polyethylene Glycol 17 g PO DAILY:PRN constipation
RX *polyethylene glycol 3350 [Miralax] 17 gram/dose 1 dose by
mouth DAILY Refills:*1
5. OxycoDONE (Immediate Release)  ___ mg PO Q4H:PRN pain
Do not drink or drive while taking narcotics.
RX *oxycodone 5 mg ___ tablet(s) by mouth every four (4) hours
Disp #*60 Tablet Refills:*0
6. Docusate Sodium 100 mg PO BID
RX *docusate sodium 100 mg 1 tablet(s) by mouth twice a day Disp
#*60 Tablet Refills:*1
7. Cephalexin 500 mg PO Q6H Duration: 4 Doses
Take for 1 more day - 1 tab every 6 hours
RX *cephalexin 500 mg 1 tablet(s) by mouth every six (6) hours
Disp #*4 Tablet Refills:*0


Discharge Disposition:
Home With Service

Facility:
___

Discharge Diagnosis:
Large ventral hernias


Discharge Condition:
Mental Status: Clear and coherent.
Level of Consciousness: Alert and interactive.
Activity Status: Ambulatory - Independent.


Discharge Instructions:
Dear Mr. ___,

It was a pleasure taking care of you here at ___
___. You were admitted to our hospital
after undergoing repair of your ventral hernia. You have
recovered from surgery and are now ready to be discharged to
home with services. Please follow the recommendations below to
ensure a speedy and uneventful recovery.

ACTIVITY:
- Do not drive until you have stopped taking pain medicine and
feel you could respond in an emergency.
- You may climb stairs.
- You may go outside, but avoid traveling long distances until
you see your surgeon at your next visit.
- Don't lift more than 10 lbs for 6 weeks. (This is about the
weight of a briefcase or a bag of groceries.) This applies to
lifting children, but they may sit on your lap.
- You may start some light exercise when you feel comfortable.
- Heavy exercise may be started after 6 weeks, but use common
sense and go slowly at first.
- You may resume sexual activity unless your doctor has told you
otherwise.

HOW YOU MAY FEEL:
- You may feel weak or "washed out" for 6 weeks. You might want
to nap often. Simple tasks may exhaust you.
- You may have a sore throat because of a tube that was in your
throat during surgery.
- You might have trouble concentrating or difficulty sleeping.
You might feel somewhat depressed.
- You could have a poor appetite for a while. Food may seem
unappealing.
- All of these feelings and reactions are normal and should go
away in a short time. If they do not, tell your surgeon.

YOUR INCISION:
- Your incision may be slightly red around the edges. This is
normal.
- If you have steri strips, do not remove them for 2 weeks.
(These are the thin paper strips that are on your incision.) But
if they fall off before that that's okay).
- You may gently wash away dried material around your incision.
- It is normal to feel a firm ridge along the incision. This
will go away.
- Avoid direct sun exposure to the incision area.
- Do not use any ointments on the incision unless you were told
otherwise.
- You may see a small amount of clear or light red fluid
staining your dressing or clothes. If the staining is severe,
please call your surgeon.
- You may shower, but do not bathe you are seen in clinic for
follow-up.

YOUR BOWELS:
- Constipation is a common side effect of medicine such as
Percocet or codeine. If needed, you may take a stool softener
(such as Colace, one capsule) or gentle laxative (such as milk
of magnesia, 1 tbs) twice a day. You can get both of these
medicines without a prescription.
- If you go 48 hours without a bowel movement, or have pain
moving the bowels, call your surgeon.
- After some operations, diarrhea can occur. If you get
diarrhea, don't take anti-diarrhea medicines. Drink plenty of
fluitds and see if it goes away. If it does not go away, or is
severe and you feel ill, please call your surgeon.

PAIN MANAGEMENT:
- It is normal to feel some discomfort/pain following abdominal
surgery. This pain is often described as "soreness".
- Your pain should get better day by day. If you find the pain
is getting worse instead of better, please contact your surgeon.
-You will receive a prescription from your surgeon for pain
medicine to take by mouth. It is important to take this medicine
as directied.
- Do not take it more frequently than prescribed. Do not take
more medicine at one time than prescribed.
- Your pain medicine will work better if you take it before your
pain gets too severe.
- Talk with your surgeon about how long you will need to take
prescription pain medicine. Please don't take any other pain
medicine, including non-prescription pain medicine, unless your
surgeon has said its okay.
- If you are experiencing no pain, it is okay to skip a dose of
pain medicine.
- Remember to use your "cough pillow" for splinting when you
cough or when you are doing your deep breathing exercises.

If you experience any of the folloiwng, please contact your
surgeon:
- sharp pain or any severe pain that lasts several hours
- pain that is getting worse over time
- pain accompanied by fever of more than 101
- a drastic change in nature or quality of your pain

MEDICATIONS:
- Take all the medicines you were on before the operation just
as you did before, unless you have been told differently.
- If you have any questions about what medicine to take or not
to take, please call your surgeon.


Followup Instructions:
___

In [22]:
print(target[target['hadm_id'] == 28448473]['discharge_instructions'].squeeze())

Dear Mr. ___,

It was a pleasure taking care of you here at ___
___. You were admitted to our hospital
after undergoing repair of your ventral hernia. You have
recovered from surgery and are now ready to be discharged to
home with services. Please follow the recommendations below to
ensure a speedy and uneventful recovery.

ACTIVITY:
- Do not drive until you have stopped taking pain medicine and
feel you could respond in an emergency.
- You may climb stairs.
- You may go outside, but avoid traveling long distances until
you see your surgeon at your next visit.
- Don't lift more than 10 lbs for 6 weeks. (This is about the
weight of a briefcase or a bag of groceries.) This applies to
lifting children, but they may sit on your lap.
- You may start some light exercise when you feel comfortable.
- Heavy exercise may be started after 6 weeks, but use common
sense and go slowly at first.
- You may resume sexual activity unless your doctor has told you
otherwise.

HOW YOU MAY FEEL:
- You may feel weak or "washed out" for 6 weeks. You might want
to nap often. Simple tasks may exhaust you.
- You may have a sore throat because of a tube that was in your
throat during surgery.
- You might have trouble concentrating or difficulty sleeping.
You might feel somewhat depressed.
- You could have a poor appetite for a while. Food may seem
unappealing.
- All of these feelings and reactions are normal and should go
away in a short time. If they do not, tell your surgeon.

YOUR INCISION:
- Your incision may be slightly red around the edges. This is
normal.
- If you have steri strips, do not remove them for 2 weeks.
(These are the thin paper strips that are on your incision.) But
if they fall off before that that's okay).
- You may gently wash away dried material around your incision.
- It is normal to feel a firm ridge along the incision. This
will go away.
- Avoid direct sun exposure to the incision area.
- Do not use any ointments on the incision unless you were told
otherwise.
- You may see a small amount of clear or light red fluid
staining your dressing or clothes. If the staining is severe,
please call your surgeon.
- You may shower, but do not bathe you are seen in clinic for
follow-up.

YOUR BOWELS:
- Constipation is a common side effect of medicine such as
Percocet or codeine. If needed, you may take a stool softener
(such as Colace, one capsule) or gentle laxative (such as milk
of magnesia, 1 tbs) twice a day. You can get both of these
medicines without a prescription.
- If you go 48 hours without a bowel movement, or have pain
moving the bowels, call your surgeon.
- After some operations, diarrhea can occur. If you get
diarrhea, don't take anti-diarrhea medicines. Drink plenty of
fluitds and see if it goes away. If it does not go away, or is
severe and you feel ill, please call your surgeon.

PAIN MANAGEMENT:
- It is normal to feel some discomfort/pain following abdominal
surgery. This pain is often described as "soreness".
- Your pain should get better day by day. If you find the pain
is getting worse instead of better, please contact your surgeon.
-You will receive a prescription from your surgeon for pain
medicine to take by mouth. It is important to take this medicine
as directied.
- Do not take it more frequently than prescribed. Do not take
more medicine at one time than prescribed.
- Your pain medicine will work better if you take it before your
pain gets too severe.
- Talk with your surgeon about how long you will need to take
prescription pain medicine. Please don't take any other pain
medicine, including non-prescription pain medicine, unless your
surgeon has said its okay.
- If you are experiencing no pain, it is okay to skip a dose of
pain medicine.
- Remember to use your "cough pillow" for splinting when you
cough or when you are doing your deep breathing exercises.

If you experience any of the folloiwng, please contact your
surgeon:
- sharp pain or any severe pain that lasts several hours
- pain that is getting worse over time
- pain accompanied by fever of more than 101
- a drastic change in nature or quality of your pain

MEDICATIONS:
- Take all the medicines you were on before the operation just
as you did before, unless you have been told differently.
- If you have any questions about what medicine to take or not
to take, please call your surgeon.

In [23]:
discharge_summ['hadm_id'].nunique(), discharge_summ['subject_id'].nunique()
# edstay

(102622, 63835)

In [24]:
edstay

,subject_id,hadm_id,stay_id,intime,outtime,gender,race,arrival_transport,disposition,split
0,10000032,22841357,38112554,2180-06-26 15:54:00,2180-06-26 21:31:00,F,WHITE,AMBULANCE,ADMITTED,train
1,10000117,22927623,32642808,2181-11-14 21:51:00,2181-11-15 02:06:42,F,WHITE,WALK IN,ADMITTED,train
2,10000935,21738619,35197384,2187-07-11 09:26:00,2187-07-11 13:07:28,F,BLACK/AFRICAN AMERICAN,AMBULANCE,ADMITTED,train
3,10000935,25849114,37499077,2187-10-10 11:56:00,2187-10-10 19:09:46,F,BLACK/AFRICAN AMERICAN,AMBULANCE,ADMITTED,train
4,10000980,25242409,38221815,2191-04-03 12:36:00,2191-04-03 20:29:00,F,BLACK/AFRICAN AMERICAN,AMBULANCE,ADMITTED,train
...,...,...,...,...,...,...,...,...,...,...
15417,19997293,26366652,32372144,2123-11-17 02:01:00,2123-11-17 04:23:04,M,WHITE,AMBULANCE,ADMITTED,test
15418,19998330,23151993,34983932,2178-09-20 17:43:00,2178-09-20 21:40:00,F,BLACK/AFRICAN AMERICAN,AMBULANCE,ADMITTED,test
15419,19998497,21557581,35230154,2145-07-24 17:30:00,2145-07-25 00:50:00,F,WHITE,AMBULANCE,ADMITTED,test
15420,19998562,26846592,36010073,2166-04-06 12:29:00,2166-04-06 22:47:00,M,WHITE,AMBULANCE,ADMITTED,test
15421,19999784,25715748,34149746,2119-08-11 09:15:00,2119-08-11 13:40:00,M,BLACK/AFRICAN AMERICAN,WALK IN,ADMITTED,test

In [25]:
discharge_summ

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,text,split
0,10000032-DS-22,10000032,22841357,DS,22,2180-06-27 00:00:00,2180-07-01 10:15:00,\nName: ___ Unit No: _...,train
1,10000117-DS-21,10000117,22927623,DS,21,2181-11-15 00:00:00,2181-11-15 15:04:00,\nName: ___ Unit No: ___\n...,train
2,10000935-DS-19,10000935,21738619,DS,19,2187-07-12 00:00:00,2187-07-12 14:01:00,\nName: ___ Unit No: ___...,train
3,10000935-DS-21,10000935,25849114,DS,21,2187-10-26 00:00:00,2187-10-27 15:36:00,\nName: ___ Unit No: ___...,train
4,10000980-DS-20,10000980,29654838,DS,20,2188-01-05 00:00:00,2188-01-06 20:49:00,\nName: ___ Unit No: ___\n \nAdmi...,train
...,...,...,...,...,...,...,...,...,...
15388,19997293-DS-10,19997293,26366652,DS,10,2123-11-19 00:00:00,2124-07-01 14:15:00,\nName: ___ Unit No: _...,test
15389,19998330-DS-17,19998330,23151993,DS,17,2178-09-23 00:00:00,2178-09-24 11:43:00,\nName: ___ Unit No: ...,test
15390,19998497-DS-9,19998497,21557581,DS,9,2145-08-01 00:00:00,2145-08-01 14:13:00,\nName: ___ Unit No: ___\n \...,test
15391,19998562-DS-21,19998562,26846592,DS,21,2166-04-16 00:00:00,2166-04-17 16:08:00,\nName: ___ Unit No: ___\...,test
15392,19999784-DS-10,19999784,25715748,DS,10,2119-08-19 00:00:00,2119-08-19 10:09:00,\nName: ___ Unit No: __...,test

In [26]:
eddiags

,subject_id,stay_id,seq_num,icd_code,icd_version,icd_title,split
0,10000032,38112554,1,78959,9,OTHER ASCITES,train
1,10000032,38112554,2,07070,9,UNSPECIFIED VIRAL HEPATITIS C WITHOUT HEPATIC ...,train
2,10000032,38112554,3,5715,9,CIRRHOSIS OF LIVER NOS,train
3,10000032,38112554,4,V08,9,ASYMPTOMATIC HIV INFECTION,train
4,10000117,32642808,1,R1310,10,"Dysphagia, unspecified",train
...,...,...,...,...,...,...,...
30906,19998562,36010073,3,2761,9,HYPOSMOLALITY/HYPONATREMIA,test
30907,19999784,34149746,1,G9782,10,Oth postproc complications and disorders of ne...,test
30908,19999784,34149746,2,G960,10,Cerebrospinal fluid leak,test
30909,19999784,34149746,3,Y838,10,"Oth surgical procedures cause abn react/compl,...",test
30910,19999784,34149746,4,Y9289,10,Oth places as the place of occurrence of the e...,test

In [27]:
radiology.groupby("hadm_id").agg({"note_id":"count"}).mean()

note_id    3.949572
dtype: float64

In [ ]:
radiology['note_seq'].hist()

In [49]:
edtriage['chiefcomplaint'].value_counts()

chiefcomplaint
Abd pain                    2956
Dyspnea                     2882
Chest pain                  2135
ABD PAIN                    1598
Altered mental status       1341
                            ...
PLEURAL EFFUSIONS/AFIB         1
Abscess, Dysuria               1
Fever, Hypoxia, Vomiting       1
DYSPNEA X 10 DAYS              1
FEVER/HA                       1
Name: count, Length: 22134, dtype: int64

In [47]:
edstay['disposition'].value_counts()

disposition
ADMITTED                       100760
OTHER                            1423
HOME                              509
TRANSFER                           70
LEFT WITHOUT BEING SEEN            43
LEFT AGAINST MEDICAL ADVICE        21
ELOPED                             17
EXPIRED                             1
Name: count, dtype: int64

In [38]:
radiology['note_type'].value_counts()

note_type
RR    405313
Name: count, dtype: int64

In [59]:
edstay.shape, edstay['stay_id'].nunique(), edstay['subject_id'].nunique()
edtriage.shape, edtriage['stay_id'].nunique(), edtriage['subject_id'].nunique()

((102844, 12), 102844, 63835)

In [60]:
edstay_triage = edstay.merge(edtriage, on="stay_id")

In [65]:
eddiags.groupby("stay_id").agg({"icd_code":"count"}).describe()

            icd_code
count  102844.000000
mean        2.002956
std         1.291191
min         1.000000
25%         1.000000
50%         2.000000
75%         3.000000
max         9.000000

In [75]:
edstay_triage['chiefcomplaint'].value_counts()

chiefcomplaint
Abd pain                    2956
Dyspnea                     2882
Chest pain                  2135
ABD PAIN                    1598
Altered mental status       1341
                            ...
R Hip pain, Abscess            1
PLEURAL EFFUSIONS/AFIB         1
Abscess, Dysuria               1
Fever, Hypoxia, Vomiting       1
Stab wound, TRAUMA             1
Name: count, Length: 22134, dtype: int64

In [83]:
edstay_triage.columns

Index(['subject_id_x', 'hadm_id', 'stay_id', 'intime', 'outtime', 'gender',
       'race', 'arrival_transport', 'disposition', 'split_x', 'subject_id_y',
       'temperature', 'heartrate', 'resprate', 'o2sat', 'sbp', 'dbp', 'pain',
       'acuity', 'chiefcomplaint', 'split_y'],
      dtype='object')

In [85]:
from tableone import TableOne, load_dataset
import pandas as pd
columns = ['gender', 'race', 'arrival_transport', 'disposition', 'acuity']
categorical = ['gender', 'race', 'arrival_transport', 'disposition', 'acuity']
# groupby = ['death']
# nonnormal = ['Age']
# labels={'death': 'mortality'}

In [86]:
mytable = TableOne(edstay_triage, columns=columns, 
                   categorical=categorical, 
                   # groupby=groupby,
                   # nonnormal=nonnormal, 
                   # rename=labels,
                   limit={}
                   pval=False)

In [87]:
print(mytable.tabulate(tablefmt = "fancy_grid"))

â•’â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¤â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¤â•â•â•â•â•â•â•â•â•â•â•â•¤â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â••
â”‚                          â”‚                                           â”‚ Missing   â”‚ Overall       â”‚
â•žâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ n                        â”‚                                           â”‚           â”‚ 102844        â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ gender, n (%)            â”‚ F                                         â”‚ 0         â”‚ 52245 (50.8)  â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ M                                         â”‚           â”‚ 50599 (49.2)  â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ race, n (%)              â”‚ AMERICAN INDIAN/ALASKA NATIVE             â”‚ 0         â”‚ 256 (0.2)     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ ASIAN                                     â”‚           â”‚ 1176 (1.1)    â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ ASIAN - ASIAN INDIAN                      â”‚           â”‚ 306 (0.3)     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ ASIAN - CHINESE                           â”‚           â”‚ 1600 (1.6)    â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ ASIAN - KOREAN                            â”‚           â”‚ 120 (0.1)     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ ASIAN - SOUTH EAST ASIAN                  â”‚           â”‚ 426 (0.4)     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ BLACK/AFRICAN                             â”‚           â”‚ 772 (0.8)     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ BLACK/AFRICAN AMERICAN                    â”‚           â”‚ 13770 (13.4)  â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ BLACK/CAPE VERDEAN                        â”‚           â”‚ 1196 (1.2)    â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ BLACK/CARIBBEAN ISLAND                    â”‚           â”‚ 861 (0.8)     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ HISPANIC OR LATINO                        â”‚           â”‚ 456 (0.4)     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ HISPANIC/LATINO - CENTRAL AMERICAN        â”‚           â”‚ 143 (0.1)     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ HISPANIC/LATINO - COLUMBIAN               â”‚           â”‚ 167 (0.2)     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ HISPANIC/LATINO - CUBAN                   â”‚           â”‚ 149 (0.1)     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ HISPANIC/LATINO - DOMINICAN               â”‚           â”‚ 1231 (1.2)    â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ HISPANIC/LATINO - GUATEMALAN              â”‚           â”‚ 393 (0.4)     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ HISPANIC/LATINO - HONDURAN                â”‚           â”‚ 132 (0.1)     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ HISPANIC/LATINO - MEXICAN                 â”‚           â”‚ 178 (0.2)     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ HISPANIC/LATINO - PUERTO RICAN            â”‚           â”‚ 2408 (2.3)    â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ HISPANIC/LATINO - SALVADORAN              â”‚           â”‚ 246 (0.2)     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ MULTIPLE RACE/ETHNICITY                   â”‚           â”‚ 41 (0.0)      â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER â”‚           â”‚ 129 (0.1)     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ OTHER                                     â”‚           â”‚ 3757 (3.7)    â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ PATIENT DECLINED TO ANSWER                â”‚           â”‚ 133 (0.1)     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ PORTUGUESE                                â”‚           â”‚ 545 (0.5)     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ SOUTH AMERICAN                            â”‚           â”‚ 145 (0.1)     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ UNABLE TO OBTAIN                          â”‚           â”‚ 142 (0.1)     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ UNKNOWN                                   â”‚           â”‚ 3072 (3.0)    â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ WHITE                                     â”‚           â”‚ 63904 (62.1)  â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ WHITE - BRAZILIAN                         â”‚           â”‚ 278 (0.3)     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ WHITE - EASTERN EUROPEAN                  â”‚           â”‚ 381 (0.4)     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ WHITE - OTHER EUROPEAN                    â”‚           â”‚ 2458 (2.4)    â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ WHITE - RUSSIAN                           â”‚           â”‚ 1873 (1.8)    â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ arrival_transport, n (%) â”‚ AMBULANCE                                 â”‚ 0         â”‚ 54575 (53.1)  â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ HELICOPTER                                â”‚           â”‚ 592 (0.6)     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ OTHER                                     â”‚           â”‚ 231 (0.2)     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ UNKNOWN                                   â”‚           â”‚ 4617 (4.5)    â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ WALK IN                                   â”‚           â”‚ 42829 (41.6)  â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ disposition, n (%)       â”‚ ADMITTED                                  â”‚ 0         â”‚ 100760 (98.0) â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ ELOPED                                    â”‚           â”‚ 17 (0.0)      â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ EXPIRED                                   â”‚           â”‚ 1 (0.0)       â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ HOME                                      â”‚           â”‚ 509 (0.5)     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ LEFT AGAINST MEDICAL ADVICE               â”‚           â”‚ 21 (0.0)      â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ LEFT WITHOUT BEING SEEN                   â”‚           â”‚ 43 (0.0)      â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                          â”‚ OTHER                                     â”‚           â”‚ 1423 (1.4)    â”‚

# Check Overlap with hosp

In [7]:
hosp_fp = "/gpfs/milgram/project/rtaylor/shared/DischargeMe/mimiciv/hosp/"

In [31]:
# target
# discharge_summ
# radiology
# edstay
# edtriage
# eddiags


edtriage.head(2)

,subject_id,stay_id,temperature,heartrate,resprate,o2sat,sbp,dbp,pain,acuity,chiefcomplaint,split
0,10000032,38112554,98.9,88.0,18.0,97.0,116.0,88.0,10,3.0,Abdominal distention,train
1,10000117,32642808,97.6,81.0,16.0,100.0,148.0,83.0,0,3.0,Throat foreign body sensation,train

In [32]:
discharge_summ.head(2)

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,text,split
0,10000032-DS-22,10000032,22841357,DS,22,2180-06-27 00:00:00,2180-07-01 10:15:00,\nName: ___ Unit No: _...,train
1,10000117-DS-21,10000117,22927623,DS,21,2181-11-15 00:00:00,2181-11-15 15:04:00,\nName: ___ Unit No: ___\n...,train

In [33]:
edstay.head(2)

,subject_id,hadm_id,stay_id,intime,outtime,gender,race,arrival_transport,disposition,split
0,10000032,22841357,38112554,2180-06-26 15:54:00,2180-06-26 21:31:00,F,WHITE,AMBULANCE,ADMITTED,train
1,10000117,22927623,32642808,2181-11-14 21:51:00,2181-11-15 02:06:42,F,WHITE,WALK IN,ADMITTED,train

In [10]:
pts = pd.read_csv(hosp_fp + "patients.csv.gz")
transfers = pd.read_csv(hosp_fp + "transfers.csv.gz")
adms = pd.read_csv(hosp_fp + "admissions.csv.gz")

In [55]:
display(adms.head(2), transfers.head(2),pts.head(2))

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,URGENT,P874LG,TRANSFER FROM HOSPITAL,HOME,Other,ENGLISH,WIDOWED,WHITE,2180-05-06 19:17:00,2180-05-06 23:30:00,0
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaN,EW EMER.,P09Q6Y,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,WHITE,2180-06-26 15:54:00,2180-06-26 21:31:00,0

,subject_id,hadm_id,transfer_id,eventtype,careunit,intime,outtime
0,10000032,22595853.0,33258284,ED,Emergency Department,2180-05-06 19:17:00,2180-05-06 23:30:00
1,10000032,22595853.0,35223874,admit,Transplant,2180-05-06 23:30:00,2180-05-07 17:21:27

   subject_id gender  anchor_age  anchor_year anchor_year_group         dod
0    10000032      F          52         2180       2014 - 2016  2180-09-09
1    10000048      F          23         2126       2008 - 2010         NaN

In [64]:
discharge_summ.isna().sum()

note_id       0
subject_id    0
hadm_id       0
note_type     0
note_seq      0
charttime     0
storetime     0
text          0
split         0
dtype: int64

In [45]:
edstays_with_dissumms = edstay[edstay['hadm_id'].isin(discharge_summ['hadm_id'])]
# all of them have an admission ID, meaning they were all admitted

In [58]:
edstay_adms = edstay.merge(adms, how="left", on="hadm_id", indicator="has_admission")
edstay_pts = edstay.merge(pts, how="left", on="subject_id", indicator="has_admission")
edstay_transfers = edstay.merge(transfers, how="left", on="hadm_id", indicator="has_admission")

In [60]:
display(edstay_adms['has_admission'].value_counts(),edstay_pts['has_admission'].value_counts(),edstay_transfers['has_admission'].value_counts())

has_admission
both          102844
left_only          0
right_only         0
Name: count, dtype: int64

has_admission
both          102844
left_only          0
right_only         0
Name: count, dtype: int64

has_admission
both          426632
left_only          0
right_only         0
Name: count, dtype: int64

In [63]:
edstay_transfers['careunit'].value_counts()

careunit
Emergency Department                                103294
Medicine                                             53504
Med/Surg                                             20497
Neurology                                            16425
Med/Surg/Trauma                                      11016
Medicine/Cardiology                                  10946
Hematology/Oncology                                   9493
Transplant                                            9181
Medical Intensive Care Unit (MICU)                    8517
Vascular                                              8140
Discharge Lounge                                      7971
Med/Surg/GYN                                          7698
Emergency Department Observation                      6413
Medical/Surgical Intensive Care Unit (MICU/SICU)      6230
PACU                                                  5482
Surgical Intensive Care Unit (SICU)                   5060
Trauma SICU (TSICU)                                   4720
Hematology/Oncology Intermediate                      4671
Surgery/Trauma                                        4010
Coronary Care Unit (CCU)                              2995
Medicine/Cardiology Intermediate                      2604
Cardiac Vascular Intensive Care Unit (CVICU)          2463
Neuro Intermediate                                    2382
Cardiac Surgery                                       2375
Surgery                                               2365
Neuro Surgical Intensive Care Unit (Neuro SICU)       1632
Observation                                           1175
Neuro Stepdown                                        1108
Cardiology Surgery Intermediate                        853
Obstetrics (Postpartum & Antepartum)                   195
Labor & Delivery                                        99
Psychiatry                                              76
Obstetrics Antepartum                                   67
Unknown                                                 56
Obstetrics Postpartum                                   41
Cardiology                                              33
Medical/Surgical (Gynecology)                            1
Name: count, dtype: int64

# Check Overlap with icu

In [95]:
icu_fp = "/gpfs/milgram/project/rtaylor/shared/DischargeMe/mimiciv/icu/"

In [31]:
# target
# discharge_summ
# radiology
# edstay
# edtriage
# eddiags


edtriage.head(2)

,subject_id,stay_id,temperature,heartrate,resprate,o2sat,sbp,dbp,pain,acuity,chiefcomplaint,split
0,10000032,38112554,98.9,88.0,18.0,97.0,116.0,88.0,10,3.0,Abdominal distention,train
1,10000117,32642808,97.6,81.0,16.0,100.0,148.0,83.0,0,3.0,Throat foreign body sensation,train

In [32]:
discharge_summ.head(2)

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,text,split
0,10000032-DS-22,10000032,22841357,DS,22,2180-06-27 00:00:00,2180-07-01 10:15:00,\nName: ___ Unit No: _...,train
1,10000117-DS-21,10000117,22927623,DS,21,2181-11-15 00:00:00,2181-11-15 15:04:00,\nName: ___ Unit No: ___\n...,train

In [33]:
edstay.head(2)

,subject_id,hadm_id,stay_id,intime,outtime,gender,race,arrival_transport,disposition,split
0,10000032,22841357,38112554,2180-06-26 15:54:00,2180-06-26 21:31:00,F,WHITE,AMBULANCE,ADMITTED,train
1,10000117,22927623,32642808,2181-11-14 21:51:00,2181-11-15 02:06:42,F,WHITE,WALK IN,ADMITTED,train

In [96]:
icu_stays = pd.read_csv(icu_fp + "icustays.csv.gz")

In [99]:
icu_stays.head(2)

,subject_id,hadm_id,stay_id,first_careunit,last_careunit,intime,outtime,los
0,10000032,29079034,39553978,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2180-07-23 14:00:00,2180-07-23 23:50:47,0.410266
1,10000980,26913865,39765666,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2189-06-27 08:42:00,2189-06-27 20:38:27,0.497535

In [100]:
discharge_summ_icu = discharge_summ.merge(icu_stays, on="hadm_id", how="left", indicator="has_icu")

In [101]:
discharge_summ_icu['has_icu'].value_counts()

has_icu
left_only     79520
both          25636
right_only        0
Name: count, dtype: int64

# Investigate Single Patient Hospital Course

In [75]:
# print()
sample_pt = discharge_summ.sample(1)

In [79]:
hadm_id = sample_pt['hadm_id'].squeeze()
subject_id = sample_pt['subject_id'].squeeze()

In [87]:
edstay = edstay[edstay['hadm_id'] == hadm_id]

In [76]:
print(sample_pt['text'].squeeze())

Name:  ___                     Unit No:   ___

Admission Date:  ___              Discharge Date:   ___

Date of Birth:  ___             Sex:   F

Service: ORTHOPAEDICS

Allergies:
No Known Allergies / Adverse Drug Reactions

Attending: ___.

Chief Complaint:
L open both bone forearm fracture

Major Surgical or Invasive Procedure:
___: L forearm I&D, ORIF


History of Present Illness:
___ LHD s/p MVC with a L distal forearm open fracture. She had a
front on collision. No headstrike, unclear LOC; no neck pain,
headache, or visual changes. No other injuries. First presented
to ___. CT head/cspine/torso was performed
and negative for acute process. XR of the left wrist
demonstrated an open distal radius fracture. Received tetanus
vaccination, ancef and gentamicin prior to transfer to ___.
Mild tingling in the fingers of the L hand.


Past Medical History:
CVA ___ year ago, depression, HTN, HLD, h/o alcoholism


Social History:
___
Family History:
Non-contributory

Physical Exam:
No acute distress
Unlabored breathing
Abdomen soft, non-tender, non-distended
Splint in place, clean, dry, and intact
Left upper extremity fires EPL/IO/OP/flexors
Left upper extremity SILT in median, radial, ulnar and axillary
distributions
Left upper extremity radial pulse 2+ with distal digits warm and
well perfused


Pertinent Results:
L wrist xray ___:
3 views of the left wrist were obtained fluoroscopically,
demonstrating  fixation plates and associated screws transfixing
distal radius ulna  fractures, now in much improved near
anatomic alignment.  Please refer to full operative note for
further details.

___ 05:10AM BLOOD WBC-10.9* RBC-2.94* Hgb-9.1* Hct-28.4*
MCV-97 MCH-31.0 MCHC-32.0 RDW-14.2 RDWSD-50.4* Plt ___
___ 05:10AM BLOOD WBC-11.4* RBC-2.80* Hgb-8.6* Hct-27.8*
MCV-99* MCH-30.7 MCHC-30.9* RDW-14.2 RDWSD-51.9* Plt ___
___ 05:10AM BLOOD WBC-11.9* RBC-2.87* Hgb-8.8* Hct-28.8*
MCV-100* MCH-30.7 MCHC-30.6* RDW-14.3 RDWSD-52.2* Plt ___
___ 05:10AM BLOOD Glucose-100 UreaN-9 Creat-0.6 Na-138
K-4.1 Cl-107 HCO3-23 AnGap-12
___ 05:25AM BLOOD Glucose-104* UreaN-13 Creat-0.7 Na-137
K-4.2 Cl-106 HCO3-21* AnGap-14

Brief Hospital Course:
The patient presented to the emergency department and was
evaluated by the orthopedic surgery team. The patient was found
to have L open both bone forearm fracture and was admitted to
the orthopedic surgery service. The patient was taken to the
operating room on ___ for irrigation and debridement, open
reduction and internal fixation L forearm, which the patient
tolerated well. For full details of the procedure please see the
separately dictated operative report. The patient was taken from
the OR to the PACU in stable condition and after satisfactory
recovery from anesthesia was transferred to the floor. The
patient was initially given IV fluids and IV pain medications,
and progressed to a regular diet and oral medications by POD#1.
The patient was given ___ antibiotics and
anticoagulation per routine. The patient's home medications were
continued throughout this hospitalization. The patient worked
with ___ and OT who determined that discharge to home was
appropriate. The patient was found to have an oxygen requirement
while in the hospital. She required ___ to maintain O2
saturations above 90%. The patient has a history of COPD and has
apparently been non-compliant with her home medication.
Medicine was consulted who recommended a chest xray and an EKG,
both of which did not demonstrate any acute pathology. They
recommended home O2 as well as advair and albuterol.  The
patient's insurance would not cover the advair for home, and the
patient was recommended to follow up with her primary doctor
concerning her new medications and her new O2 at home.  The PCP
was contacted and made aware of these new developments in her
care. The ___ hospital course was otherwise unremarkable.

At the time of discharge the patient's pain was well controlled
with oral medications, incisions were clean/dry/intact, and the
patient was voiding/moving bowels spontaneously. The patient is
non-weight bearing in the left upper extremity in the operative
splint, and will be discharged on aspirin for DVT prophylaxis.
The patient will follow up with Dr. ___ routine. A
thorough discussion was had with the patient regarding the
diagnosis and expected post-discharge course including reasons
to call the office or return to the hospital, and all questions
were answered. The patient was also given written instructions
concerning precautionary instructions and the appropriate
follow-up care. The patient expressed readiness for discharge.

Medications on Admission:
The Preadmission Medication list is accurate and complete.
1. Metoprolol Succinate XL 100 mg PO DAILY
2. Amlodipine 5 mg PO DAILY
3. Citalopram 40 mg PO DAILY
4. Atorvastatin 80 mg PO QPM
5. Lisinopril 40 mg PO DAILY
6. Multivitamins 1 TAB PO DAILY


Discharge Medications:
1. Amlodipine 5 mg PO DAILY
2. Atorvastatin 80 mg PO QPM
3. Citalopram 40 mg PO DAILY
4. Lisinopril 40 mg PO DAILY
5. Metoprolol Succinate XL 100 mg PO DAILY
6. Acetaminophen 1000 mg PO TID
7. Albuterol Inhaler 2 PUFF IH Q4H:PRN wheezing
RX *albuterol sulfate [ProAir HFA] 90 mcg 2 puffs by mouth Every
4 hours Disp #*1 Inhaler Refills:*0
8. Docusate Sodium 100 mg PO BID
RX *docusate sodium 100 mg 1 capsule(s) by mouth Twice daily
Disp #*60 Capsule Refills:*0
9. Fluticasone-Salmeterol Diskus (250/50)  1 INH IH BID
RX *fluticasone-salmeterol [Advair Diskus] 250 mcg-50 mcg/dose 1
inhalation by mouth Twice daily Disp #*2 Disk Refills:*0
10. OxycoDONE (Immediate Release)  ___ mg PO Q4H:PRN pain
RX *oxycodone 5 mg ___ tablet(s) by mouth Every 4 hours Disp
#*90 Tablet Refills:*0
11. Senna 8.6 mg PO BID
RX *sennosides [senna] 8.6 mg 1 capsule by mouth Twice daily
Disp #*60 Capsule Refills:*0
12. Vitamin D 800 UNIT PO DAILY
13. Multivitamins 1 TAB PO DAILY
14. Aspirin 325 mg PO DAILY
RX *aspirin 325 mg 1 tablet(s) by mouth Daily Disp #*60 Tablet
Refills:*0


Discharge Disposition:
Home With Service

Facility:
___

___ Diagnosis:
Left grade I open both bone forearm fracture


Discharge Condition:
Mental Status: Clear and coherent.
Level of Consciousness: Alert and interactive.
Activity Status: Ambulatory - Independent.


Discharge Instructions:
INSTRUCTIONS AFTER ORTHOPAEDIC SURGERY:

- You were in the hospital for orthopedic surgery. It is normal
to feel tired or "washed out" after surgery, and this feeling
should improve over the first few days to week.
- Resume your regular activities as tolerated, but please follow
your weight bearing precautions strictly at all times.

ACTIVITY AND WEIGHT BEARING:
- NWB LUE in splint

HOME OXYGEN:
- You are being sent home on new home oxygen to help you breath.
It is extremely important to not smoke while on oxygen. It is
very dangerous to smoke while on oxygen and you could
potentially start a fire. Please do not smoke while on oxygen.

MEDICATIONS:
- Please take all medications as prescribed by your physicians
at discharge.
- Continue all home medications unless specifically instructed
to stop by your surgeon.
- Do not drink alcohol, drive a motor vehicle, or operate
machinery while taking narcotic pain relievers.
- Narcotic pain relievers can cause constipation, so you should
drink eight 8oz glasses of water daily and take a stool softener
(colace) to prevent this side effect.

ANTICOAGULATION:
- Please take aspirin 325mg daily for 4 weeks

WOUND CARE:
- You may shower. No baths or swimming for at least 4 weeks.
- Any stitches or staples that need to be removed will be taken
out at your 2-week follow up appointment.
- Splint must be left on until follow up appointment unless
otherwise instructed
- Do NOT get splint wet

DANGER SIGNS:
Please call your PCP or surgeon's office and/or return to the
emergency department if you experience any of the following:
- Increasing pain that is not controlled with pain medications
- Increasing redness, swelling, drainage, or other concerning
changes in your incision
- Persistent or increasing numbness, tingling, or loss of
sensation
- Fever > 101.4
- Shaking chills
- Chest pain
- Shortness of breath
- Nausea or vomiting with an inability to keep food, liquid,
medications down
- Any other medical concerns
Physical Therapy:
Activity:   Activity:  Activity as tolerated Activity:  Ambulate
twice daily if patient able
 Left upper extremity:  Non weight bearing
Encourage turn, cough and deep breathe q2h when awake

Treatments Frequency:
Site: LUE
Description: Splint and ace wrap to LUE, ecchymosis/bruising to
L fingers, moderate edema to L fingers
Care: Monitor site for any increased swelling, monitor for s/s
of infection


Followup Instructions:
___

In [85]:
eddiags

,subject_id,stay_id,seq_num,icd_code,icd_version,icd_title,split
0,10000032,38112554,1,78959,9,OTHER ASCITES,train
1,10000032,38112554,2,07070,9,UNSPECIFIED VIRAL HEPATITIS C WITHOUT HEPATIC ...,train
2,10000032,38112554,3,5715,9,CIRRHOSIS OF LIVER NOS,train
3,10000032,38112554,4,V08,9,ASYMPTOMATIC HIV INFECTION,train
4,10000117,32642808,1,R1310,10,"Dysphagia, unspecified",train
...,...,...,...,...,...,...,...
30906,19998562,36010073,3,2761,9,HYPOSMOLALITY/HYPONATREMIA,test
30907,19999784,34149746,1,G9782,10,Oth postproc complications and disorders of ne...,test
30908,19999784,34149746,2,G960,10,Cerebrospinal fluid leak,test
30909,19999784,34149746,3,Y838,10,"Oth surgical procedures cause abn react/compl,...",test
30910,19999784,34149746,4,Y9289,10,Oth places as the place of occurrence of the e...,test

In [93]:
display(edstay[edstay['hadm_id'] == hadm_id], 
        adms[adms['hadm_id'] == hadm_id], 
        eddiags[eddiags['stay_id'] == edstay['stay_id'].squeeze()],
        transfers[transfers['hadm_id'] == hadm_id].sort_values("intime"), 
       )

,subject_id,hadm_id,stay_id,intime,outtime,gender,race,arrival_transport,disposition,split
3777,10574334,26983493,32726546,2188-05-27 20:33:00,2188-05-27 22:52:06,F,WHITE,AMBULANCE,ADMITTED,train

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
23674,10574334,26983493,2188-05-27 22:51:00,2188-05-31 14:36:00,NaN,EW EMER.,P75S70,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,ENGLISH,MARRIED,WHITE,2188-05-27 20:33:00,2188-05-27 23:57:00,0

,subject_id,stay_id,seq_num,icd_code,icd_version,icd_title,split
7729,10574334,32726546,1,S52592B,10,"Oth fx of lower end of left radius, init for o...",train
7730,10574334,32726546,2,S52692B,10,"Oth fx lower end of left ulna, init for opn fx...",train
7731,10574334,32726546,3,V4940XA,10,"Driver injured in collision w unsp mv in traf,...",train

,subject_id,hadm_id,transfer_id,eventtype,careunit,intime,outtime
104447,10574334,26983493.0,32726546,ED,Emergency Department,2188-05-27 20:33:00,2188-05-27 22:52:06
104448,10574334,26983493.0,33957656,admit,Med/Surg/Trauma,2188-05-27 22:52:06,2188-05-27 23:03:45
104446,10574334,26983493.0,30279573,transfer,PACU,2188-05-27 23:03:45,2188-05-27 23:05:27
104449,10574334,26983493.0,33992061,transfer,Med/Surg/Trauma,2188-05-27 23:05:27,2188-05-31 14:37:01
104450,10574334,26983493.0,34673811,discharge,NaN,2188-05-31 14:37:01,NaN

## Get discharge summary service

In [107]:
import re
dissum_courses = discharge_summ['text'].str.extract(r"Service:\s?(.+?)$",re.M)

In [109]:
dissum_courses.value_counts()

0
MEDICINE                 68767
SURGERY                  12215
NEUROLOGY                 9138
ORTHOPAEDICS              4813
NEUROSURGERY              3416
CARDIOTHORACIC            1592
OBSTETRICS/GYNECOLOGY     1069
UROLOGY                    619
PODIATRY                   298
PLASTIC                    287
___                        211
OTOLARYNGOLOGY              50
EMERGENCY                   43
PSYCHIATRY                  41
ANESTHESIOLOGY              20
NEURO___                     1
Name: count, dtype: int64

In [110]:
dissum_courses.value_counts(normalize=True)

0
MEDICINE                 0.670374
SURGERY                  0.119078
NEUROLOGY                0.089082
ORTHOPAEDICS             0.046919
NEUROSURGERY             0.033301
CARDIOTHORACIC           0.015520
OBSTETRICS/GYNECOLOGY    0.010421
UROLOGY                  0.006034
PODIATRY                 0.002905
PLASTIC                  0.002798
___                      0.002057
OTOLARYNGOLOGY           0.000487
EMERGENCY                0.000419
PSYCHIATRY               0.000400
ANESTHESIOLOGY           0.000195
NEURO___                 0.000010
Name: proportion, dtype: float64

In [14]:
target

,note_id,hadm_id,discharge_instructions,brief_hospital_course,discharge_instructions_word_count,brief_hospital_course_word_count,split
0,17777282-DS-8,27074777,"Dear Ms. ___,\nIt was our pleasure participati...",=============================,208,1,train
1,15373895-DS-19,28448473,"Dear Mr. ___,\n\nIt was a pleasure taking care...",Mr. ___ was admitted from the emergency depart...,760,398,train
2,19045496-DS-24,22343752,You were admitted to the hospital after walkin...,___ year old female with past medical history ...,302,515,train
3,15071083-DS-16,24572540,you were hospitalized for gi bleeding that was...,"___ gentleman DM2, CAD s/p CABG, ischemic card...",73,579,train
4,11669075-DS-16,25889399,"Dear Mr. ___,\n\nWHY WERE YOU ADMITTED TO THE ...",Mr. ___ is a pleasant ___ y/o gentleman with a...,113,42,train
...,...,...,...,...,...,...,...
15388,18995174-DS-17,27445071,"Dear Mr. ___,\n\nYou were admitted after getti...",___ M PMHx dilated non-ischemic cardiomyopathy...,128,216,test
15389,13588195-DS-9,26192891,"Dear Mr. ___,\n\n You were admitted to ___ af...","Mr. ___ is a ___ year-old man with CAD, HTN, H...",47,40,test
15390,10873131-DS-17,26584893,"Dear Ms. ___,\n\nIt was a pleasure taking ___ ...",___ year old female with past medical history ...,260,1014,test
15391,12332377-DS-11,25623241,"Dear Mr. ___, \n\nYou were admitted to ___ \nb...",Mr. ___ is a ___ male with a past medical hist...,244,462,test
15392,11030142-DS-22,23318613,"Dear ___,\n.\nYou were admitted to the hospita...",Mr. ___ is a ___ year old male with a history ...,212,743,test

In [43]:
target

,note_id,hadm_id,discharge_instructions,brief_hospital_course,discharge_instructions_word_count,brief_hospital_course_word_count,split,instructions_hedge,hosp_course_hedge
0,17777282-DS-8,27074777,"Dear Ms. ___,\nIt was our pleasure participati...",=============================,208,1,train,4.0,0
1,15373895-DS-19,28448473,"Dear Mr. ___,\n\nIt was a pleasure taking care...",Mr. ___ was admitted from the emergency depart...,760,398,train,20.0,2
2,19045496-DS-24,22343752,You were admitted to the hospital after walkin...,___ year old female with past medical history ...,302,515,train,1.0,1
3,15071083-DS-16,24572540,you were hospitalized for gi bleeding that was...,"___ gentleman DM2, CAD s/p CABG, ischemic card...",73,579,train,0.0,9
4,11669075-DS-16,25889399,"Dear Mr. ___,\n\nWHY WERE YOU ADMITTED TO THE ...",Mr. ___ is a pleasant ___ y/o gentleman with a...,113,42,train,0.0,3
...,...,...,...,...,...,...,...,...,...
15388,18995174-DS-17,27445071,"Dear Mr. ___,\n\nYou were admitted after getti...",___ M PMHx dilated non-ischemic cardiomyopathy...,128,216,test,1.0,3
15389,13588195-DS-9,26192891,"Dear Mr. ___,\n\n You were admitted to ___ af...","Mr. ___ is a ___ year-old man with CAD, HTN, H...",47,40,test,0.0,0
15390,10873131-DS-17,26584893,"Dear Ms. ___,\n\nIt was a pleasure taking ___ ...",___ year old female with past medical history ...,260,1014,test,2.0,19
15391,12332377-DS-11,25623241,"Dear Mr. ___, \n\nYou were admitted to ___ \nb...",Mr. ___ is a ___ male with a past medical hist...,244,462,test,6.0,9
15392,11030142-DS-22,23318613,"Dear ___,\n.\nYou were admitted to the hospita...",Mr. ___ is a ___ year old male with a history ...,212,743,test,3.0,10

In [81]:
regex = r"\bmay\b|\bpossible\b|\blikely\b|\bpositive\b|\bseveral\b|\bno evidence of\b|\bevidence of\b|\bmost\b|\bconsistent with\b|\bunremarkable\b|\bfew\b|\busual\b|\bthink\b|\bpossibly\b|\bpotential\b|\bcould be\b|\bmost likely\b|\bappear\b|\bnecessary\b|\bseems\b|\bprobably\b|\bfrequent\b|\bnever\b|\bmany\b|\bsure\b|\bsuggest\b|\bapparently\b|\boccasionally\b|\bpossibility of\b|\bdiagnostic\b"
counts = target['discharge_instructions'].str.count(regex)
target['instructions_hedge'] = counts / target['discharge_instructions_word_count']
counts = target['brief_hospital_course'].str.count(regex)
target['hosp_course_hedge'] = counts / target['brief_hospital_course_word_count']

In [108]:
target['instructions_hedge'].describe()

count    101676.000000
mean          0.007875
std           0.008820
min           0.000000
25%           0.000000
50%           0.006211
75%           0.012500
max           0.142857
Name: instructions_hedge, dtype: float64

In [109]:
target['hosp_course_hedge'].describe()

count    102622.000000
mean          0.008514
std           0.008255
min           0.000000
25%           0.001737
50%           0.007026
75%           0.012821
max           0.142857
Name: hosp_course_hedge, dtype: float64

In [93]:
target.loc[target['instructions_hedge'].idxmax()]

index                                                                            65636
note_id                                                                 12276257-DS-17
hadm_id                                                                       26359678
discharge_instructions               Patient eloped before instructions could be gi...
brief_hospital_course                ___ with CAH, AI on maintenance hydrocortisone...
discharge_instructions_word_count                                                    7
brief_hospital_course_word_count                                                   238
split                                                                            train
instructions_hedge                                                            0.142857
hosp_course_hedge                                                             0.004202
Name: 65636, dtype: object

In [95]:
re.findall(regex,
           target.loc[target['instructions_hedge'].idxmax()]['discharge_instructions'],
           )

['could be']

In [96]:
print(target.loc[target['instructions_hedge'].idxmax()]['discharge_instructions'])

Patient eloped before instructions could be given.

In [105]:
target.sort_values('instructions_hedge', na_position="last", ascending=False)[:100]

,index,note_id,hadm_id,discharge_instructions,brief_hospital_course,discharge_instructions_word_count,brief_hospital_course_word_count,split,instructions_hedge,hosp_course_hedge
65636,65636,12276257-DS-17,26359678,Patient eloped before instructions could be gi...,"___ with CAH, AI on maintenance hydrocortisone...",7,238,train,0.142857,0.004202
97987,10758,17011846-DS-37,27011711,Pt left before f/u could be established,___ w/ hx alchol abuse and HCV who was found u...,7,333,test,0.142857,0.021021
22602,22602,15778851-DS-19,26238664,- You have no restrictions and may resume all ...,___ admitted to the ICU as the CT head was unc...,16,70,train,0.125000,0.028571
4550,4550,12157432-DS-19,25566230,Patient may resume all prior activities to adm...,Patient was admitted for concern for partial s...,8,165,train,0.125000,0.000000
26241,26241,13143946-DS-14,27328251,Please remember to rest adequately (as possibl...,She was transferred to L&D for continuation of...,9,10,train,0.111111,0.000000
...,...,...,...,...,...,...,...,...,...,...
65855,65855,11223938-DS-17,25034120,"Dear Mr. ___,\n\nYou were recently admitted wi...",___ year old male with a history of schizoaffe...,88,417,train,0.056818,0.011990
97645,10416,13410083-DS-17,23675774,You were admitted for bleeding from your bladd...,___ w/ HTN and CR prostate adenoca (s/p pallia...,88,426,test,0.056818,0.011737
26575,26575,10968040-DS-17,21509743,It was a pleasure to care for you at ___. You ...,___ yo M who presents with acute pancreatitis....,53,163,train,0.056604,0.030675
20862,20862,13419784-DS-11,23259970,You were admitted because you were very confus...,___ y/o M with a recent admission for CHF exac...,53,463,train,0.056604,0.015119
17025,17025,19370314-DS-20,26523383,-You can expect to see occasional blood in you...,A ___ year old female with a history of nephro...,265,103,train,0.056604,0.000000

In [107]:
print(target.loc[17025]['discharge_instructions'])

-You can expect to see occasional blood in your urine and to
possibly experience some urgency and frequency over the next
month; this may be related to the passage of stone fragments or
the indwelling ureteral stent (if there is one).

-The kidney stone may or may not have been removed AND/or there
may fragments/others still in the process of passing.

-You may experience some pain associated with spasm of your
ureter. This is normal. Take the narcotic pain medication as
prescribed if additional pain relief is needed.

-Ureteral stents MUST be removed or exchanged and therefore it
is IMPERATIVE that you follow-up as directed.

-Do not lift anything heavier than a phone book (10 pounds)

-You may continue to periodically see small amounts of blood in
your urine--this is normal and will gradually improve

-Resume all of your pre-admission medications, except HOLD
aspirin until you see your urologist in follow-up

-You can expect to see occasional blood in your urine and to
possibly experience some urgency and frequency over the next
month; this may be related to the passage of stone fragments or
the indwelling ureteral stent.

-The kidney stone may or may not have been removed AND/or there
may fragments/others still in the process of passing.

-You may experience some pain associated with spasm of your
ureter.; This is normal. Take the narcotic pain medication as
prescribed if additional pain relief is needed.

-You may continue to periodically see small amounts of blood in
your urine--this is normal and will gradually improve

-Continue using the incentive spirometry and flutter valve as
frequently as possible to maintain and improve your respiratory
status

In [110]:
import seaborn as sns

In [ ]:
fig, ax = plt.subplots(figsize=(10,15))
# Find the order
my_order = freq_notes.groupby(by="Type")["hedge_freq"].median().sort_values(ascending=False).index
ax.set_title("Hedging Words/Total # Words by Note Type")

sns.boxplot(y="Type",x="hedge_freq", data=freq_notes, ax=ax, order=my_order)

# Characterize LOS

In [4]:
# discharge summaries
discharges = pd.read_csv("/gpfs/milgram/project/rtaylor/shared/DischargeMe/public/train/discharge.csv.gz")

# ed stays
edstays = pd.read_csv('/gpfs/milgram/project/rtaylor/shared/DischargeMe/public/train/edstays.csv.gz')

# triage
triage = pd.read_csv('/gpfs/milgram/project/rtaylor/shared/DischargeMe/public/train/triage.csv.gz')

# ward transfers
transfers = pd.read_csv('/gpfs/milgram/project/rtaylor/shared/DischargeMe/mimiciv/hosp/transfers.csv.gz')

# higher-level services (ICU, CARD, etc)
services = pd.read_csv('/gpfs/milgram/project/rtaylor/shared/DischargeMe/mimiciv/hosp/services.csv.gz')

# get patient info
pts = pd.read_csv('/gpfs/milgram/project/rtaylor/shared/DischargeMe/mimiciv/hosp/patients.csv.gz')

# admission demographics
admissions = pd.read_csv('/gpfs/milgram/project/rtaylor/shared/DischargeMe/mimiciv/hosp/admissions.csv.gz')

# procedures
procs = pd.read_csv('/gpfs/milgram/project/rtaylor/shared/DischargeMe/mimiciv/hosp/procedures_icd.csv.gz')
procs_icd = pd.read_csv('/gpfs/milgram/project/rtaylor/shared/DischargeMe/mimiciv/hosp/d_icd_procedures.csv.gz')

# diagnoses
diags = pd.read_csv('/gpfs/milgram/project/rtaylor/shared/DischargeMe/mimiciv/hosp/diagnoses_icd.csv.gz')
diags_icd = pd.read_csv('/gpfs/milgram/project/rtaylor/shared/DischargeMe/mimiciv/hosp/d_icd_diagnoses.csv.gz')

# meds
med_orders = pd.read_csv('/gpfs/milgram/project/rtaylor/shared/DischargeMe/mimiciv/hosp/emar.csv.gz')

In [13]:
ed_discharges = discharges.merge(edstays, on="hadm_id", how="left")

In [23]:
discharge_transfers = discharges.merge(transfers, on="hadm_id", how="left")

In [33]:
# drop discharge event type since it's the last event, doesn't have an endtime and the starttime coincides with the endtime of the discharging unit
discharge_transfers = discharge_transfers[discharge_transfers["eventtype"] != "discharge"]

In [34]:
# number of transfers, descriptive stats for our cohort
discharge_transfers.groupby("hadm_id").agg({"transfer_id": "count"}).describe()

        transfer_id
count  71835.000000
mean       3.150720
std        1.557088
min        2.000000
25%        2.000000
50%        3.000000
75%        4.000000
max       23.000000

In [41]:
discharge_transfers = discharge_transfers.astype({"intime":"datetime64[ns]",
                                        "outtime":"datetime64[ns]",})

In [45]:
# how long in each unit? desc stats for our cohort
(discharge_transfers['outtime'] - discharge_transfers['intime']).describe()

count                       226332
mean     1 days 21:42:20.280981036
std      3 days 09:36:25.640262419
min                0 days 00:00:01
25%                0 days 04:43:00
50%                0 days 14:26:14
75%         2 days 10:12:36.500000
max              155 days 04:00:39
dtype: object

In [16]:
discharge_adms = discharges.merge(admissions, on="hadm_id", how="left")

In [19]:
discharge_adms = discharge_adms.astype({"dischtime":"datetime64[ns]",
                                        "edregtime":"datetime64[ns]",})

In [22]:
(discharge_adms["dischtime"] - discharge_adms['edregtime']).describe()

count                        71835
mean     5 days 23:29:12.506159949
std      7 days 03:22:26.206537633
min              -1 days +07:13:00
25%                2 days 05:11:00
50%                4 days 00:12:00
75%                7 days 00:11:30
max              234 days 08:30:00
dtype: object

In [35]:
transfers

,subject_id,hadm_id,transfer_id,eventtype,careunit,intime,outtime
0,10000032,22595853.0,33258284,ED,Emergency Department,2180-05-06 19:17:00,2180-05-06 23:30:00
1,10000032,22595853.0,35223874,admit,Transplant,2180-05-06 23:30:00,2180-05-07 17:21:27
2,10000032,22595853.0,36904543,discharge,NaN,2180-05-07 17:21:27,NaN
3,10000032,22841357.0,34100253,discharge,NaN,2180-06-27 18:49:12,NaN
4,10000032,22841357.0,34703856,admit,Transplant,2180-06-26 21:31:00,2180-06-27 18:49:12
...,...,...,...,...,...,...,...
1890967,19999914,NaN,32002659,ED,Emergency Department,2158-12-24 11:41:00,2158-12-24 11:56:00
1890968,19999987,23865745.0,30249304,transfer,Neurology,2145-11-04 21:29:30,2145-11-11 13:00:47
1890969,19999987,23865745.0,34731548,ED,Emergency Department,2145-11-02 19:28:00,2145-11-02 22:59:00
1890970,19999987,23865745.0,36195440,admit,Trauma SICU (TSICU),2145-11-02 22:59:00,2145-11-04 21:29:30
1890971,19999987,23865745.0,37191562,discharge,NaN,2145-11-11 13:00:47,NaN